.app {
  text-align: center;
}

/* .app .text-box {
  display: inline-block;
  border-radius: 15px;
  margin: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

 position: relative;
  transition: all ease 0.3s;
  padding: 0px 48px;
} */


.app h1 {
  color: #aaaaaa;
  font-size: 4em;
  position: relative;
  transition: all ease 0.3s;
}


.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.app h1 .spn-1 {
  color: #e443be;
}

.app h1 .spn-2 {
  color: #01ff70;
}
